[project]
name = "skelbiu-auto"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "pydantic>=2.12.4",
    "rich>=14.2.0",
    "scrapy>=2.13.4",
]
